[Unit]
Description=TuxPulse privileged helper
Documentation=https://github.com/eoliann/TuxPulse
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /usr/share/tuxpulse/helper/tuxpulse_helper.py
Restart=on-failure
RestartSec=2
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelTunables=no
ProtectKernelModules=no
ProtectControlGroups=no
ProtectSystem=no
ReadWritePaths=/run /var/log /etc /usr /var /lib
UMask=0022

[Install]
WantedBy=multi-user.target
