[Desktop Entry]
Name=TuxPulse
GenericName=System Maintenance
Comment=Linux maintenance toolkit
Exec=tuxpulse
Icon=tuxpulse
Terminal=false
Type=Application
Categories=System;Utility;Settings;
StartupNotify=true
