<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="com.tuxpulse.install">
    <description>Install software via TuxPulse helper</description>
    <message>Authentication is required to install software</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
