[Unit]
Description=TuxPulse Helper Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/share/tuxpulse/helper/tuxpulse_helper.py
Restart=always
User=root
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
