[Desktop Entry]
Type=Application
Name=TuxPulse
Comment=TuxPulse System Toolkit
Exec=/usr/bin/tuxpulse
Icon=tuxpulse
Terminal=false
Categories=Utility;System;
StartupNotify=true
StartupWMClass=tuxpulse